*{
margin: 0;
background-color: rgb(181, 191, 181);
}
h1{
    color: green;
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
#news-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}
p{
    font-size: 20px;
}